<!doctype html>
<html lang="en">
  <%- include('partials/head') %>

  <body class="text-[12px]">
    <div class="container mx-auto">
      <%- include('partials/menu') %>

      <div class="flex flex-row">
        <section class="basis-4/6 mr-[20px]">
          <div class="flex flex-row-reverse mb-[20px]">
            <form method="post" action="/games/create">
              <button class="bg-blue-200 rounded-sm px-1 border-[1px] border-blue-800">Create a new game room</button>
            </form>
          </div>
          <table class="min-w-full">
            <thead>
              <tr>
                <th class="text-left border-b-[1px] border-gray-400 py-[4px]">Room name</th>
                <th class="text-left border-b-[1px] border-gray-400 py-[4px]">Players</th>
                <th class="text-center border-b-[1px] border-gray-400 py-[4px]">Join</th>
              </tr>
            </thead>
            <tbody id="available-games-list">
              <% locals.availableGames !== undefined && availableGames.forEach((room) => { %>
                <tr id="game-row-<%= room.id %>">
                  <td class="border-b-[1px] border-gray-400 py-[4px]">Game <%= room.id %></td>
                  <td class="border-b-[1px] border-gray-400 py-[4px]"><%= room.players %> / <%= room.player_count %></td>
                  <td class="text-center border-b-[1px] border-gray-400 py-[4px]">
                    <form action="/games/join/<%= room.id %>" method="post">
                      <button class="bg-blue-200 rounded-sm px-1 border-[1px] border-blue-800">Join</button>
                    </form>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </section>
        <div class="basis-2/6"><%- include('partials/chat') %></div>
      </div>
    </div>

    <template id="game-row-template">
      <tr>
        <td class="border-b-[1px] border-gray-400 py-[4px]"></td>
        <td class="border-b-[1px] border-gray-400 py-[4px]"></td>
        <td class="text-center border-b-[1px] border-gray-400 py-[4px]">
          <form action="/join/X" method="post">
            <button class="bg-blue-200 rounded-sm px-1 border-[1px] border-blue-800">Join</button>
          </form>
        </td>
      </tr>
    </template>

    <%- include('partials/footer') %>
    <script src="/js/main-lobby.js"></script>
  </body>
</html>
